body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 30vh;
  
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("pic.png");
}
.slide2 {
  background-image: url("motto.png");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align:center;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 60%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent rgb(61, 60, 60) transparent transparent;
    left: 0;
    margin-left: 30px;
  }

  #arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent rgb(61, 60, 60);
    right: 0;
    margin-right: 30px;
  }
  hr.solid {
    border-top: 3px solid #bbb;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: FFFFFF;

  }
  
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0acaec;
    color: white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 100% 30% 30% 30%;
    background-color: #242F30;
    padding: 20px;
    justify-content: center;
    
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    grid-column-gap: 50px
    
  }
  .storenav  {
    overflow: hidden;
    background-color: FFFFFF;

  }
  .storenav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 30px 32px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .storenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .storenav a.active {
    background-color: #0acaec;
    color: white;
  }


  